body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
}

#root{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}